<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <a class="navbar-brand" href="/">Railfan Notebook</a>
        <div id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="nav-item nav-link" href="/login">Login</a>
                <a th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="nav-item nav-link" href="/createaccount">Create Account</a>
                <span th:if="${currentUser}" class="navbar-text" th:text="|Hello, ${currentUser.displayName}|">Hello User!</span>
                <a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="nav-item nav-link" href="/editaccount">Edit Account</a>
                <a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="nav-item nav-link" href="/viewrailroads">View Railroads</a>
                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} and ${h2ConsoleEnabled}" class="nav-item nav-link" href="/h2-console">h2 Console</a>
                <a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="nav-item nav-link bg-light text-primary" href="/createsighting">Add sighting</a>
                <form th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="form-inline" th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit" class="btn btn-sm btn-primary" value="Logout" />
                </form>
            </div>
        </div>
    </nav>
    <div th:if="${environmentMessage}" th:text="${environmentMessage}" class="alert alert-danger" role="alert"></div>
</div>
</body>
</html>