<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="sightinglist">
        <h2 th:if="${#lists.isEmpty(sightings)}">No Sightings Found</h2>
        <div th:unless="${#lists.isEmpty(sightings)}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">RR</th>
                    <th scope="col">Train</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">User</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sighting : ${sightings}">
                    <td><a th:href="@{/viewsighting/{id}(id=${sighting.id})}" th:text="${sighting.id}"></a></td>
                    <td><a th:if="${sighting.railroad != null}" th:href="@{/viewsightingsbyrailroad/{rr}(rr=${sighting.railroad.id})}" th:text="${sighting.railroad.name}"></a></td>
                    <td th:text="${sighting.trainNumber}"></td>
                    <td th:text="${sighting.direction}"></td>
                    <td th:text="${sighting.notes}"></td>
                    <td th:text="${sighting.sightedDateTime}"></td>
                    <td th:text="${sighting.location}"></td>
                    <td><a th:href="@{/viewsightingsbyuser/{userId}(userId=${sighting.createdBy.id})}" th:text="${sighting.createdBy.displayName}"></a> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>