<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Railfan Notebook Edit Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <style>
        .container {
          width: 500px;
          clear: both;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="alert alert-success" th:if="${successMessage}" th:inline="text">[[${successMessage}]] - <a href="/">Return to homepage</a> </div>
<div class="container">
    <form th:action="@{/editaccount}" method="post" th:object="${userDTO}">
        <h2>Edit Account</h2>
        <div>
            <label for="username" class="form-label">Username <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="right" title="The ID you login with.  This cannot be changed.">?</span></label>
            <input id="username" type="text" name="username" class="form-control" th:field="*{username}" readonly/>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
        </div>
        <div>
            <label for="displayname" class="form-label">Display Name <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="right" title="This is how your name appears on the site.  Must be at least 3 characters.">?</span></label>
            <input id="displayname" type="text" name="displayname" class="form-control" th:field="*{displayName}" />
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}">DisplayName Error</div>
        </div>
        <div th:if="${#authorization.expression('hasRole(''ROLE_PASSWORD'')')}">
            <div>
                <label for="password" class="form-label">Password <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="right" title="The password you use to log into the site.  Must be at least 8 characters long.  Your password will not change if this field is left blank.">?</span></label>
                <input id="password" type="password" name="password" class="form-control" th:field="*{password}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
            </div>
            <div>
                <label for="confirmpassword" class="form-label">Confirm Password</label>
                <input id="confirmpassword" type="password" name="confirmpassword" class="form-control" th:field="*{confirmPassword}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">password Error</div>
            </div>
        </div>
        <div class="alert alert-danger"
             th:if="${#fields.hasGlobalErrors()}"
             th:each="error : ${#fields.errors('global')}"
             th:text="${error}">Validation error</div>
        <div>
            <input type="submit" value="Update Account" class="btn btn-primary"/>
            <a href="/" class="btn btn-outline-secondary">Cancel</a>
        </div>

    </form>
</div>
</body>
</html>