<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Railfan Notebook Railroads</title>
</head>
<body>
  <div th:replace="fragments/header :: header">...</div>
  <div th:switch="${railroads}">
    <h2 th:case="null">No Railroads Found</h2>
    <div th:case="*">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Railroad</th>
          <th scope="col">Reporting Mark</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rr : ${railroads}">
          <td><a th:href="@{/viewsightingsbyrailroad/{id}(id=${rr.id})}" th:text="${rr.name}"></a> </td>
          <td th:text="${rr.reportingMark}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>
</html>