<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Railfan Notebook Sightings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 5px 5px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: gray;
        color: white;
        border-radius: 2px;
    }
  </style>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
  <h2 th:if="${user != null}" th:text="|Sightings reported by ${user.displayName}|"></h2>
  <h2 th:if="${railroad != null}" th:text="|Sightings reported for ${railroad.name}|"></h2>
  <div th:text="|Page ${sightings.number + 1} of ${sightings.totalPages}|"></div>
  <div th:text="|Viewing ${sightings.getNumberOfElements} of ${sightings.getTotalElements} sightings|"></div>
  <div th:replace="fragments/sightinglist :: sightinglist"></div>

  <div th:if="${sightings.totalPages > 0}" class="pagination"
       th:each="pageNumber : ${pageNumbers}">
    <a th:if="${user != null}" th:href="@{/viewsightingsbyuser/{id}/{page}(id=${user.id}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==sightings.number + 1} ? active"></a>
    <a th:if="${railroad != null}" th:href="@{/viewsightingsbyrailroad/{id}/{page}(id=${railroad.id}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==sightings.number + 1} ? active"></a>
  </div>

</body>
</html>