<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Railfan Notebook Sighting</title>
</head>
<body>
  <div th:replace="fragments/header :: header">...</div>
  <div th:if="${sighting}">
    <table class="table table-bordered">
      <tr>
        <th scope="row">Railroad</th>
        <td><a th:if="${sighting.railroad != null}" th:href="@{/viewsightingsbyrailroad/{rr}(rr=${sighting.railroad.id})}" th:text="${sighting.railroad.name}"></a></td>
      </tr>
      <tr>
        <th scope="row">Train Number</th>
        <td th:text="${sighting.trainNumber}"></td>
      </tr>
      <tr>
        <th scope="row">Direction</th>
        <td th:text="${sighting.direction}"></td>
      </tr>
      <tr>
        <th scope="row">Notes</th>
        <td th:text="${sighting.notes}"></td>
      </tr>
      <tr>
        <th scope="row">Sighted Date and Time</th>
        <td th:text="${sighting.sightedDateTime}"></td>
      </tr>
      <tr>
        <th scope="row">Location</th>
        <td th:text="${sighting.location}"></td>
      </tr>
      <tr>
        <th scope="row">Reported By</th>
        <td><a th:href="@{/viewsightingsbyuser/{userId}(userId=${sighting.createdBy.id})}" th:text="${sighting.createdBy.displayName}"></a> </td>
      </tr>
    </table>
    <a th:href="@{/viewsighting/{id}(id=${sighting.id})}">Permalink</a>
  </div>
  <div th:unless="${sighting}">No such sighting.</div>

</body>
</html>